﻿<%@ Page Title="Register" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Register.aspx.cs" Inherits="HKeInvestWebApplication.Account.Register" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <h4>Create a new client account</h4>
    <p class="text-danger">
        <asp:Literal runat="server" ID="ErrorMessage" />
    </p>
    <hr />
    <h4>Client Information</h4>

    <div class="form-horizontal">
        <asp:ValidationSummary ID="ValidationSummary1" runat="server" CssClass="text-danger" EnableClientScript="False" />

        <div class="form-group">

        <asp:Label runat="server" Text="First Name" AssociatedControlID="FirstName" CssClass="control-label col-md-2"></asp:Label>
        <div class="col-md-4"><asp:TextBox ID="FirstName" runat="server" CssClass="form-control" MaxLength="20"></asp:TextBox>
            <asp:RequiredFieldValidator runat="server" ControlToValidate="FirstName" CssClass="text-danger" EnableClientScript="False" ErrorMessage="First Name is required." Display="Dynamic">*</asp:RequiredFieldValidator>
            </div>

        <asp:Label runat="server" Text="Last Name" AssociatedControlID="LastName" CssClass="control-label col-md-2"></asp:Label>
        <div class="col-md-4"><asp:TextBox ID="LastName" runat="server" CssClass="form-control" MaxLength="20"></asp:TextBox>
            <asp:RequiredFieldValidator runat="server" ControlToValidate="LastName" CssClass="text-danger" EnableClientScript="False" ErrorMessage="Last Name is required." Display="Dynamic">*</asp:RequiredFieldValidator>
            </div>

        </div>

    <div class="form-group">
        <asp:Label runat="server" Text="Account #" AssociatedControlID="AccountNumber" CssClass="control-label col-md-2"></asp:Label>
        <div class="col-md-4"><asp:TextBox ID="AccountNumber" runat="server" CssClass="form-control" MaxLength="10"></asp:TextBox>
            <asp:CustomValidator ID="cvAccountNumber" runat="server" ControlToValidate="AccountNumber" CssClass="text-danger" EnableClientScript="False" ErrorMessage="The account number does not match the client's last name." OnServerValidate="cvAccountNumber_ServerValidate" ValidateEmptyText="True" Display="Dynamic">*</asp:CustomValidator>
            <asp:RequiredFieldValidator runat="server" ControlToValidate="AccountNumber" CssClass="text-danger" EnableClientScript="False" ErrorMessage="Account number is required." Display="Dynamic">*</asp:RequiredFieldValidator>
        </div>

        <asp:Label runat="server" Text="HKID/Passport#" AssociatedControlID="HKID" CssClass="control-label col-md-2"></asp:Label>
        <div class="col-md-4"><asp:TextBox ID="HKID" runat="server" CssClass="form-control"></asp:TextBox>
            <asp:RequiredFieldValidator runat="server" ControlToValidate="HKID" CssClass="text-danger" EnableClientScript="False" ErrorMessage="HKID/Passport number is required." Display="Dynamic">*</asp:RequiredFieldValidator>
        </div>

    </div>

    <div class="form-group">
        <asp:Label runat="server" Text="Date of Birth" AssociatedControlID="DateOfBirth" CssClass="control-label col-md-2"></asp:Label>
         <div class="col-md-4"><asp:TextBox ID="DateOfBirth" runat="server" CssClass="form-control"></asp:TextBox>
             <asp:RegularExpressionValidator runat="server" ControlToValidate="DateOfBirth" CssClass="text-danger" EnableClientScript="False" ErrorMessage="Date of Birth is not valid." ForeColor="Red" ValidationExpression="^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4}$" Display="Dynamic">*</asp:RegularExpressionValidator>
             <asp:RequiredFieldValidator runat="server" ControlToValidate="DateOfBirth" CssClass="text-danger" EnableClientScript="False" ErrorMessage="Date of birth is required." Display="Dynamic">*</asp:RequiredFieldValidator>
        </div>

        <asp:Label runat="server" Text="Email" AssociatedControlID="Email" CssClass="control-label col-md-2"></asp:Label>
         <div class="col-md-4"><asp:TextBox ID="Email" runat="server" CssClass="form-control" MaxLength="25" TextMode="Email"></asp:TextBox>
             <asp:RequiredFieldValidator runat="server" ControlToValidate="Email" CssClass="text-danger" EnableClientScript="False" ErrorMessage="Email address is required" Display="Dynamic">*</asp:RequiredFieldValidator>
        </div>

    </div>
    <hr />
    <div class="form-group">
        <asp:Label runat="server" Text="User Name" AssociatedControlID="UserName" CssClass="control-label col-md-2"></asp:Label>
         <div class="col-md-4"><asp:TextBox ID="UserName" runat="server" CssClass="form-control" MaxLength="15"></asp:TextBox>
             <asp:RegularExpressionValidator runat="server" ControlToValidate="UserName" CssClass="text-danger" EnableClientScript="False" ErrorMessage="User Name must contain at least 6 characters." ForeColor="Red" ValidationExpression="^[\s\S]{6,8}$" Display="Dynamic">*</asp:RegularExpressionValidator>
             <asp:RegularExpressionValidator runat="server" ControlToValidate="UserName" CssClass="text-danger" EnableClientScript="False" ErrorMessage="User Name must contain only letters and digits" ForeColor="Red" ValidationExpression="^[a-zA-Z0-9]+$" Display="Dynamic">*</asp:RegularExpressionValidator>
             <asp:RequiredFieldValidator runat="server" ControlToValidate="UserName" CssClass="text-danger" EnableClientScript="False" ErrorMessage="User name is required." Display="Dynamic">*</asp:RequiredFieldValidator>
        </div>
    </div>

    <div class="form-group">
        <asp:Label runat="server" Text="Password" AssociatedControlID="Password" CssClass="control-label col-md-2"></asp:Label>
         <div class="col-md-4"><asp:TextBox ID="Password" runat="server" TextMode="Password" CssClass="form-control" MaxLength="15"></asp:TextBox>
             <asp:RegularExpressionValidator runat="server" ControlToValidate="Password" CssClass="text-danger" EnableClientScript="False" ErrorMessage="Password must contain at least 8 characters." ForeColor="Red" ValidationExpression="^[\s\S]{8,15}$" Display="Dynamic">*</asp:RegularExpressionValidator>
             <asp:RegularExpressionValidator runat="server" ControlToValidate="Password" EnableClientScript="False" ErrorMessage="Password must contain at least 2 non-alphanumeric characters." ForeColor="Red" Display="Dynamic" ValidationExpression="^[\W]{2,15}$">*</asp:RegularExpressionValidator>
             <asp:RequiredFieldValidator runat="server" ControlToValidate="Password" CssClass="text-danger" EnableClientScript="False" ErrorMessage="Password is required." Display="Dynamic">*</asp:RequiredFieldValidator>
        </div>

        <asp:Label runat="server" Text="Confirm Password" AssociatedControlID="ConfirmPassword" CssClass="control-label col-md-2"></asp:Label>
        <div class="col-md-4"><asp:TextBox ID="ConfirmPassword" runat="server" TextMode="Password" CssClass="form-control" MaxLength="15"></asp:TextBox>
            <asp:CompareValidator runat="server" ControlToCompare="Password" ControlToValidate="ConfirmPassword" CssClass="text-danger" EnableClientScript="False" ErrorMessage="Password and Confirm Password do not match." Display="Dynamic">*</asp:CompareValidator>
            <asp:RequiredFieldValidator runat="server" ControlToValidate="ConfirmPassword" CssClass="text-danger" EnableClientScript="False" ErrorMessage="Confirm Password is required." Display="Dynamic">*</asp:RequiredFieldValidator>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <asp:Button runat="server" OnClick="CreateUser_Click" Text="Register" CssClass="btn btn-default" />
            </div>
        </div>
    </div>
</asp:Content>
